# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
WinTopoEdit/WinTopoEdit.vcxproj.filters
WinTopoEdit/WinTopoEdit.vcxproj.user
WinTopoUtil/WinTopoUtil.vcxproj.filters
WinTopoUtil/WinTopoUtil.vcxproj.user
